{% extends "padre.html" %}

{% load static %}

{% block titulo %}

<h1 class="fw-bolder">BIENVENIDO A EL BLOG DE AUTOS ELECTRICOS</h1>
<p class="lead mb-0">Este Blog Fue Creado Por El Team B</p>

{% endblock %}

{% block contenido_que_cambia %}

<p style="margin-left: 500px;">RECORDA QUE CUANDO TE REGISTRAS CON TU NUEVO USUARIO PRIMERO DEBERAS IR A "AGREGA TU PRIMER AVATAR" PARA QUE PUEDAS VER EL DETALLE DE TU PERFIL, <br> Y LUEGO PARA ACTUALIZARLO DEBES PRESIONAR EL BOTON QUE DICE "ACTUALIZA TU AVATAR".</p>
<h1>{{ mensaje }}</h1>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
{% endblock %}
       